$default-stripe-bg-color: #077407;
$default-stripe-color: #015f01;

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 95%;
  height: auto;
  background-color: #fff;
  color: white;
  //   border: 5px solid black;
  border-radius: 20px;

  transform-style: preserve-3d;
  text-align: center;
  box-shadow: 0px 4px 25px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 0.5em;
  //   height: fit-content;
  
  transform-style: preserve-3d;
  h3 {
    font-size: clamp(1rem,3vw,1.2rem);
    color: #000;
  }

  &:hover {
    background-color: #c22229;
    // background-image: linear-gradient(150deg, #c22229 0%, #ff1ff7 100%, #ff1ff7 100%);
    h3 {
      color: #ffffff;
    }
  }

  img {
    width: 100%;
    height: 8em;
    object-fit: contain;
    transform: translateZ(20px);
  }

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    transform: translateZ(60px);
  }
}
